#XMLtoHTMLcodeContainer #inputArea {
    padding: 10px;
    width: 100%;
    min-height: 100px;

    border: solid 1px #ccc;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

}

#XMLtoHTMLcodeContainer #inputArea:focus {
    outline: none;
    border-color: #ccc;
    box-shadow: 0 0;
}

#XMLtoHTMLcodeContainer #inputArea .p {
    display: block;
    margin: 3px;
    background-color: #eee;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

#XMLtoHTMLcodeContainer #toolBar {
    border: solid 1px #CCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #eee;
    padding: 2px;
}

#XMLtoHTMLcodeContainer #liveRender {
    padding: 10px;
    width: 100%;
    min-height: 100px;

    border: solid 1px #ccc;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

}